<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
    	<!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <!-- driver class name -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <!-- user name -->
        <property name="hibernate.connection.username">system</property>
        <!-- password -->
        <property name="hibernate.connection.password">root</property>
        <!-- database connection url -->
        <property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:XE</property>
        <!-- drop and recreate database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <!-- prints executing sql -->
        <property name="show_sql">true</property>
        <!-- disable second level cache -->
        <property name="cache.provider_class">org.hibeernate.cache.NoCacheProvider</property>
        <!-- model class name mapping -->
        <mapping class="com.dola.hibernateprac.UserDetails"/>
    
    </session-factory>
</hibernate-configuration>